// main: style.less

// Текст выровненный по центру
.text-center {
	text-align: center;
}

// Текст прижатый к правой стороне
.text-right {
	text-align: right;
}

// Для изображений
.img {
	display: block;
	max-width: 100%;
	height: auto;
}

.hide {
	display: none;
}
