// main: ../style.less

.intro {
	@media @mobile {
		margin-top: 80px;
	}
}

.intro__inner {
	display: flex;
	padding-top: 6.6rem;
	padding-bottom: 8rem;
	position: relative;

	background: url('/img/intro/symbols.png') right bottom no-repeat;
	border-bottom: 1px solid fade(@gray, 30%);

	@media @tablet {
		padding-top: 3rem;
		padding-bottom: 3rem;

		background-size: 415px auto;
	}
	@media @mobile-sm {
		background-size: 400px auto;
	}
}

.intro__content {
	width: 50%;

	@media @mobile-sm {
		width: 100%;
	}
}

.intro__subtitle {
	font-size: 2.13rem;
	font-weight: 200;
	color: @black;

	// animate on load
	opacity: 0;
	animation: reveal 0.8s forwards var(--d);

	@keyframes reveal {
		from {
			transform: translateY(-100px);
		}
		to {
			opacity: 1;
			transform: none;
		}
	}

	--d: 0.2s;

	@media @tablet {
		font-size: 1.5rem;
	}
}

.intro__title {
	margin-bottom: 5px;
	font-size: 3rem;
	color: @black;
	font-weight: 700;

	// animate on load
	opacity: 0;
	animation: reveal 0.8s forwards var(--d);

	@keyframes reveal {
		from {
			transform: translateY(-100px);
		}
		to {
			opacity: 1;
			transform: none;
		}
	}

	--d: 0.3s;

	@media @tablet {
		font-size: 2rem;
	}
}

.intro__text {
	font-size: 1.2rem;
	color: fade(@black, 70%);
	margin-bottom: 25px;

	// animate on load
	opacity: 0;
	animation: reveal 0.8s forwards var(--d);

	@keyframes reveal {
		from {
			transform: translateY(-100px);
		}
		to {
			opacity: 1;
			transform: none;
		}
	}

	--d: 0.4s;
}

.intro__photo {
	position: absolute;
	bottom: -1px;
	right: 0;
	z-index: 1;

	filter: drop-shadow(1px 1px 1px @gray);

	transition: filter 0.1s linear;

	&:hover {
		filter: drop-shadow(-10px -2px 10px @gray);
	}

	@media @tablet {
		width: 350px;
	}

	@media @mobile-sm {
		display: none;
	}
}
